@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-family: 'Overpass', sans-serif;
}

body {
	margin: 0;
	min-width: 375px;
}

a {
	text-decoration: none;
}

button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding: 16px;
	border-radius: 2rem;
	width: 137px;
	height: 48px;
	font-weight: 900;
	cursor: pointer;
}
/*********** header ***********/
header {
	width: 100%;
	min-width: 375px;
	height: 600px;
	border-radius: 0px 0px 0px 100px;
	background-image: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
	margin-bottom: 100px;
}

.header__background-pattern {
	width: 100%;
	height: 600px;
	border-radius: 0px 0px 0px 100px;
	background-image: url('./images/bg-pattern-intro.svg');
	background-position-x: center;
	background-position-y: center;
}

.header__container {
	padding: 3.5rem 1.4rem 0;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 108px;
	position: relative;
}
.nav__logo {
	height: 32px;
}

.hero__text {
	text-align: center;
	color: #fff;
	margin-bottom: 48px;
}
.hero__title {
	font-size: 36px;
	line-height: 55px;
	margin-bottom: 0;
}
.hero__paragraph {
	margin-top: 0;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	letter-spacing: 1px;
}
.hero__btn-group {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.btn--start-for-free {
	background-color: #fff;
	color: #ff505c;
	border: none;
}
.btn--learn-more {
	background-color: unset;
	border: 1px solid #fff;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav__menu {
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: absolute;
	top: 67px;
	text-align: center;
	border-radius: 5px;
	padding: 24px 24px 32px;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
}

.header__nav__wapper {
	cursor: pointer;
}

.sub-menu__title {
	font-size: 18px;
	color: #1f3e5a;
	line-height: 28px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	/* margin-bottom: 24px; */
}

.sub-menu__title::after {
	content: '';
	background-image: url('./images/icon-arrow-dark.svg');
	background-repeat: no-repeat;
	width: 12px;
	height: 8px;
	display: inline-block;
}

.sub-menu__list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	background-color: rgba(45, 46, 64, 0.08);
	padding-top: 17px;
	padding-bottom: 25px;
	margin-top: 24px;
}

.sub-menu__list a {
	color: rgb(31, 62, 90, 0.75);
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
}

.nav__btn-group {
	display: flex;
	gap: 16px;
	flex-direction: column;
	align-items: center;
	/* margin-top: 24px; */
	border-top: 1px solid #e8e4e4;
}

.btn--login {
	color: #1f3e5a;
	background-color: unset;
	border: none;
}

.btn--sign-up {
	color: #fff;
	background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
	border: none;
}

/************* main ***********/
/***** section top *****/
main {
	margin-bottom: 100px;
}
.main__title {
	text-align: center;
	margin-bottom: 38px;
}

.image--editor-mobile {
	width: 100%;
}

.image--editor-desktop {
	display: none;
}

.section--top__text {
	margin-top: 46px;
	padding: 0 24px;
	text-align: center;
}

.feature {
	margin-bottom: 40px;
}

.feature__title {
	font-size: 28px;
	line-height: 32px;
	color: #1f3e5a;

	letter-spacing: 1px;
	margin-bottom: 16px;
}

.feature__text {
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;

	color: #4c5862;
	letter-spacing: 0.5px;
}
/***** section middle *****/

.section--middle {
	background-image: url('./images/bg-pattern-circles.svg'),
		linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
	background-position: right calc(100vw - 625px) top -250px, center center;
	background-size: 625px, 100%;
	background-repeat: no-repeat;
	border-radius: 0px 100px;
	padding-top: 221px;
	padding-bottom: 109px;
	position: relative;
	margin-top: 280px;
}

.image--phone {
	width: 100%;
	max-width: 375px;
	top: -180px;
	left: 0;
	position: absolute;
}

.section--middle__text {
	padding: 0 24px;
	text-align: center;
}

.section--middle .feature__title {
	font-size: 40px;
	line-height: 61px;
	margin: 0;
	font-weight: 600;
	color: #fff;
}
.section--middle .feature__text {
	color: #fff;
}

.section--middle .feature {
	margin-bottom: 0;
}

/***** section bottom *****/
.section--bottom__image {
	width: 100%;
	height: 100vw;
	background-image: url('./images/illustration-laptop-mobile.svg');

	background-size: 140%;
	background-position: center center;
	background-repeat: no-repeat;
}

.section--bottom__text {
	padding: 0 24px;
}

/***** footer *****/
footer {
	background-color: #24242c;
	font-family: 'Ubuntu', sans-serif;
}

.footer__nav {
	padding: 75px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 72px;
}
.footer__nav__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.footer__logo {
	width: 101px;
}

.footer__sub-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 21px;
}
.footer__sub-menu__title {
	font-size: 18px;
	font-weight: 500;
	line-height: 33px;
}
.footer__sub-menu a {
	color: #fff;
}
.footer__sub-menu__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer__sub-menu__list a {
	font-size: 18px;
	line-height: 33px;
	opacity: 0.75;
}

/* ********* tablet 768px*********** */
@media (min-width: 768px) {
	.section--middle {
		background-size: 1000px, 100%;
		background-position: right 600px top -450px, center center;
		padding-top: 111px;
		display: flex;
		gap: 100px;
		flex-direction: row-reverse;
		padding: 109px 24px;
		margin-top: 213px;
	}
	.image--phone {
		width: 50%;
		max-width: 550px;
		top: -50px;
		/* left: 8vw; */
	}
	.section--middle__text {
		text-align: left;
		width: 50%;
		max-width: 540px;
		padding: 0;
	}
	.section--middle__text .feature__title {
		letter-spacing: -1.2px;
	}
}

@media (min-width: 1024px) {
	.section--middle {
		padding: 109px calc(50vw - 555px);
	}
	.image--phone {
		left: calc(50vw - 600px);
		/* max-width: 600px; */
	}
}

/* ********************************************************************* */
.hide {
	display: none !important;
}
