@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
/* general styling */
:root {
	--Very-light-red: hsl(13, 100%, 72%);
	--Ligh-red: hsl(353, 100%, 62%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

/* typography */
h1,
h2,
p {
	font-family: 'Overpass', sans-serif;
}

a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}
p {
	font-weight: 300;
	line-height: 1.75;
	letter-spacing: 1px;
}

.hero h1 {
	font-size: 2.25rem;
	line-height: 1.527;
	font-weight: 600;
}

.hero p {
	font-size: 1.125rem;
	font-weight: 300;
}

.hero .btn {
	font-size: 1rem;
	line-height: 1.125rem;
}

.sub-menu-title {
	color: #1f3e5a;
}

.main__title,
.feature__title {
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.banner h1 {
	font-size: 2.5rem;
	line-height: 1.525;
	font-weight: 600;
}

footer h3 {
	font-weight: 400;
	font-size: 1.125rem;
}

footer li a {
	font-size: 1.125rem;
	line-height: 1.83;
}
/* reusable component */

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col {
	flex: 1;
}

.btn {
	padding: 1rem 0;
	width: 8.5625rem;
	height: 3rem;
	border-radius: 2rem;
	display: block;
}

.container {
	position: relative;
	width: 87.2%;
	margin: 0 auto;
}

/* comtomize styling */
/* hero */
.hero {
	margin-bottom: 6.25rem;
	color: #fff;
	position: relative;
}

.hero .logo {
	width: 82px;
	height: 32px;
}

.nav--btn {
	width: 32px;
	height: 32px;
}

.hamburger {
	background: url('./images/icon-hamburger.svg');
	background-repeat: no-repeat;
}
.close {
	background: url('./images/icon-close.svg');
	background-repeat: no-repeat;
}

.nav__menu {
	background: white;
	position: absolute;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
	padding-top: 1.5rem;
	padding-bottom: 2rem;
	top: 4.25rem;
	display: none;
}

.nav__sub-menu {
	margin-bottom: 1.5rem;
}

.sub-menu-title {
	font-weight: 500;
	padding-right: 1rem;
}

.arrow {
	background: url('./images/icon-arrow-dark.svg');
	display: inline-block;
	background-repeat: no-repeat;
	margin-left: 4px;
	width: 10px;
	height: 8px;
}

.arrow--up {
	transform: rotate(180deg);
}

.sub-menu-list {
	background: rgba(44, 45, 63, 0.08);
	border-radius: 5px;
	margin: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: none;
	flex-direction: column;
}

.sub-menu-list a {
	margin-bottom: 1rem;
	color: rgba(31, 62, 90, 0.75);
}

.login-sign-up {
	margin: 0 1.5rem;
	border-top: 2px solid #e8e4e4;
}

.login,
.sign-up {
	margin: 0 auto;
}
.login {
	color: #1f3e5a;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.sign-up {
	color: #fff;
	background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
}

.hero__container {
	position: absolute;
	top: 56px;
	left: 6.4%;
	right: 6.4%;
}

.hero nav {
	margin-bottom: 6.75rem;
}

.hero h1 {
	margin-bottom: 0;
}
.hero p {
	margin-top: 0;
	margin-bottom: 2.375rem;
}

.row--btn {
	justify-content: center;
	gap: 1rem;
}
.btn.start-for-free {
	background-color: #fff;
	color: #ff3e55;
	border: 1px solid white;
}

.btn.start-for-free:hover {
	color: #fff;
	background: #ff7b86;
}

.btn.learn-more {
	color: #fff;
	border: 1px solid white;
}
.btn.learn-more:hover {
	background-color: #fff;
	color: #ff3e55;
}
/* main */
.main__title {
	margin-bottom: 2.375rem;
	color: #1f3e5a;
}

/* feature */

.image--editor {
	width: 100vw;
	height: 100vw;
	background-image: url('./images/illustration-editor-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.feature__title {
	margin-bottom: 1rem;
	color: #1f3e5a;
}

.feature p {
	color: #4c5862;
}

/* banner */
.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
	border-radius: 0px 100px;
	position: relative;
	height: 650px;
	margin-top: 60vw;
}
.banner__image {
	background: url('./images/illustration-phones.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top 100px;
	width: 100vw;
	height: 100vw;
	position: absolute;
	top: -50vw;
}
.banner__content {
	position: absolute;
	color: white;
	text-align: center;
	margin: 0 24px;
	bottom: 109px;
}

.image--laptop {
	width: 100vw;
	height: 100vw;
	background-image: url('./images/illustration-laptop-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.section--laptop {
	margin-bottom: 100px;
}

/* footer */
footer {
	background: #24242c;
	text-align: center;
	padding: 4.6875rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top-right-radius: 100px;
}

footer .logo {
	margin-bottom: 4.5rem;
}

footer a {
	color: #fff;
}

.foot__list {
	display: flex;
	flex-direction: column;
	opacity: 0.75;
	gap: 1rem;
}

footer div + div {
	margin-bottom: 2.5rem;
}
/* **************************** media query ****************************** */
@media (min-width: 900px) {
	.hamburger {
		display: none;
	}

	.hero {
		margin-bottom: 0;
	}

	.hero .logo {
		width: 101px;
		height: 40px;
		flex: 1 0 101px;
	}
	.nav__menu {
		display: flex;
		align-items: center;
		position: unset;
		background-color: unset;
		box-shadow: unset;
		margin-left: 4rem;
	}
	.nav__sub-menu {
		margin: 0;
		position: relative;
	}

	.sub-menu-title {
		color: #fff;
	}

	.sub-menu-title:hover {
		text-decoration: underline;
		text-decoration-thickness: 0.1em;
	}
	.arrow {
		background: url('./images/icon-arrow-light.svg');
	}
	.sub-menu-list {
		background: #fff;
		position: absolute;
		top: 2.875rem;
		left: -1rem;
		margin: 0;
		width: 10.5rem;
		text-align: left;
		padding-left: 1rem;
		display: none;
	}
	.sub-menu-list a:hover {
		color: rgba(31, 62, 90, 1);
	}

	.login-sign-up {
		display: flex;
		border: none;
		margin-left: auto;
	}
	.login {
		margin: unset;
		border: unset;
		color: #fff;
	}
	.sign-up {
		border: unset;
		background: unset;
		background-color: #fff;
		color: #ff505c;
	}
	.sign-up:hover {
		color: #fff;
		background: #ff7b86;
	}
	.row--btn {
		justify-content: center;
		gap: 1rem;
	}
	.section--editor,
	.section--laptop {
		padding: 4rem 11.5vw;
		position: relative;
		margin: 4rem 0;
	}
	.wrapper {
		text-align: left;
		width: 50%;
	}
	.image--editor {
		background: url('./images/illustration-editor-desktop.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center right -200px;
		width: 40%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}
	.image--laptop {
		background: url('./images/illustration-laptop-desktop.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center left -200px;
		width: 40%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.section--laptop .wrapper {
		position: relative;
		left: 50%;
	}

	.banner {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		background: linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
		border-radius: 0px 100px;
		padding: 0 11.5vw;
		position: relative;
		height: 45vw;
		margin-top: 0;
	}
	.banner__image {
		background: url('./images/illustration-phones.svg');
		background-size: cover;
		width: 32vw;
		height: 34vw;
		position: absolute;
		top: -5rem;
		left: 11.5vw;
	}
	.banner__content {
		width: 50%;
		text-align: left;
		position: unset;
		margin: 0;
	}

	footer {
		flex-direction: row;
		justify-content: space-around;
	}
}
